@model Car
@{
    ViewData["Title"] = "Car Details";
}

<div class="container mt-5">
    <h1>Details for @Model.Make @Model.Model</h1>
    <hr style="border-color: #333;" />

    <div class="row mt-4">
        <div class="col-md-5">
            <img src="~/files/images/@Model.ImageName" class="img-fluid rounded" alt="@Model.Model" />
        </div>
        <div class="col-md-7">
            <table class="table table-hover mt-3 mt-md-0">
                <tbody>
                    <tr>
                        <th scope="row">Make</th>
                        <td>@Model.Make</td>
                    </tr>
                    <tr>
                        <th scope="row">Model</th>
                        <td>@Model.Model</td>
                    </tr>
                    <tr>
                        <th scope="row">Year</th>
                        <td>@Model.Year</td>
                    </tr>
                    <tr>
                        <th scope="row">Color</th>
                        <td>@Model.Color</td>
                    </tr>
                    <tr>
                        <th scope="row">Daily Rate</th>
                        <td>@Model.RentPricePerDay.ToString("C")</td>
                    </tr>
                    <tr>
                        <th scope="row">Availability</th>
                        <td>@(Model.IsAvailable ? "Available" : "Not Available")</td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-4">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-outline-light">Back to List</a>
            </div>
        </div>
    </div>
</div>